In [194]:
import pandas as pd
import numpy as np

In [195]:
df = pd.read_csv("price.csv")

In [196]:
df

   Price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [197]:
x = df.copy()

In [198]:
x.head()

   Price
0    110
1    105
2    115
3    120
4    110

In [199]:
x2 = x.copy()

In [200]:
x3 = x.copy()

In [201]:
x4 = x.copy()

In [202]:
x5 = x.copy()

# Normalization

In [203]:
from sklearn.preprocessing import MinMaxScaler

In [204]:
m = MinMaxScaler()

In [205]:
x['Price'].min()

100

In [206]:
x['Price'].max()

150

In [207]:
x['normalization_data'] = m.fit_transform(x[['Price']])

In [208]:
x

   Price  normalization_data
0    110                 0.2
1    105                 0.1
2    115                 0.3
3    120                 0.4
4    110                 0.2
5    130                 0.6
6    150                 1.0
7    100                 0.0
8    105                 0.1

# Standardization

In [209]:
from sklearn.preprocessing import StandardScaler

In [210]:
m2 = StandardScaler()

x2

In [211]:
x2['Price'].std()

15.567951410224502

In [212]:
x2['Price'].mean()

116.11111111111111

In [213]:
x2['standardization_data'] = m2.fit_transform(x2[['Price']])

In [214]:
x2

   Price  standardization_data
0    110             -0.416356
1    105             -0.757011
2    115             -0.075701
3    120              0.264954
4    110             -0.416356
5    130              0.946264
6    150              2.308884
7    100             -1.097666
8    105             -0.757011

# Log Transformation

In [216]:
x3

   Price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [217]:
log_transform_data = np.log(x3['Price'])

In [218]:
x3['log_transform_data'] = log_transform_data

In [219]:
x3

   Price  log_transform_data
0    110            4.700480
1    105            4.653960
2    115            4.744932
3    120            4.787492
4    110            4.700480
5    130            4.867534
6    150            5.010635
7    100            4.605170
8    105            4.653960

# Robust Scaler

In [220]:
from sklearn.preprocessing import RobustScaler

In [221]:
m4 = RobustScaler()

In [222]:
x4

   Price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [223]:
x4['robust_data'] = m4.fit_transform(x4[['Price']])

In [224]:
x4

   Price  robust_data
0    110     0.000000
1    105    -0.333333
2    115     0.333333
3    120     0.666667
4    110     0.000000
5    130     1.333333
6    150     2.666667
7    100    -0.666667
8    105    -0.333333

# Max Absolute Scaler

In [225]:
from sklearn.preprocessing import MaxAbsScaler

In [226]:
m5 = MaxAbsScaler()

In [227]:
x5

   Price
0    110
1    105
2    115
3    120
4    110
5    130
6    150
7    100
8    105

In [230]:
x5['max_abs_data'] = m5.fit_transform(x5[['Price']])

In [231]:
x5

   Price  max_abs_data
0    110      0.733333
1    105      0.700000
2    115      0.766667
3    120      0.800000
4    110      0.733333
5    130      0.866667
6    150      1.000000
7    100      0.666667
8    105      0.700000